body {
    /*background: #d5ffa6;*/
    /*background: linear-gradient(138deg, rgba(213, 255, 166, 1) 0%, rgba(63, 166, 106, 1) 50%, rgba(0, 181, 172,1) 100%);*/
    background-image: url("_DSC8470.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.main-container {
    width: 40rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form {
    background: #333;
    border: 1px solid #444;
    border-radius: 16px;
    padding: 36px 30px 30px 30px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input-row {
    display: flex;
    gap: 14px;
}

.input-fio {
    display: flex;
    gap: 14px;
    position: relative;
    flex: 3;
    outline: none;
}
.input-group {
    display: flex;
    gap: 14px;
    position: relative;
    flex: 1;
}
.input-pass {
    display: flex;
    gap: 14px;
    position: relative;
    flex: 2;
}

.login-input {
    background: #555;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    font-size: 18px;
}


.input-label {
    position: absolute;
    top: 18px;
    left: 18px;
    color: #ccc;
    user-select: none;
    pointer-events: none;
    transition: 0.2s;
}

.login-button {
    background: #555;
    border-radius: 16px;
    border:1px solid rgba(128, 128, 128, 0.3);
    color: #fff;
    padding: 14px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 16px;
    outline: none;
}
.login-button:hover {
    background: #3584e4;
    transition: background 0.2s;
}
.login-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    opacity: 0.85;
    transition: background 0.2s;
}
.login-link:hover {
    text-decoration: underline;
    opacity: 1;
    transition: background 0.2s;
}

.input-fio:focus-within .input-label,
.input-fio input:not(:placeholder-shown) + .input-label{
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 16px;
    background: #555;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 6px;
    padding: 2px 2px 2px 2px;
}
.input-group:focus-within .input-label,
.input-group input:not(:placeholder-shown) + .input-label{
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 16px;
    background: #555;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 6px;
    padding: 2px 2px 2px 2px;
}
.input-pass:focus-within .input-label,
.input-pass input:not(:placeholder-shown) + .input-label{
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 16px;
    background: #555;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 6px;
    padding: 2px 2px 2px 2px;
}