<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="main-container">
        <form class="login-form" action="#">
            <div class="input-row">
                <div class="input-fio">
                    <input type="text" id="fio-input" class="login-input" placeholder=" ">
                    <label for="fio-input" class="input-label">Фамилия Имя</label>
                </div>
                <div class="input-group">
                    <input type="text" id="group-input" class="login-input" placeholder=" ">
                    <label for="group-input" class="input-label">Группа</label>
                </div>
            </div>
            <div class="input-row">
                <div class="input-pass">
                    <input type="text" id="pass-input" class="login-input" placeholder=" ">
                    <label for="pass-input" class="input-label">Пароль</label>
                </div>
            </div>
            <button type="submit" class="login-button">Войти</button>
            <a href="register" class="login-link">Нет аккаунта? Регистрация</a>
        </form>
    </div>
</body>
</html>