<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <div class="container">
        <form class="register-box" action="#">
            <div class="input-row">
                <input type="text" name="fio" class="register-input name-input" placeholder="Фамилия Имя" required>
                <input type="text" name="group" class="register-input group-input" placeholder="Группа" required>
            </div>
            <div class="input-row">
                <input type="password" name="pswd" class="register-input password-input" placeholder="Пароль" required>
                <input type="password" name="submit-pswd" class="register-input password-input" placeholder="Подтверждение пароля" required>
            </div>
            <div class="error"></div>
            <button type="submit" class="register-button">Регистрация</button>
            <a href="sign_in" class="register-link">Есть аккаунт? Вход</a>
        </form>
        <script src="../static/register.js"></script>
    </div>
</body>
</html>
